    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>Data scientist and people leader with hands-on experience transforming raw data into insights at startup and Fortune 500 companies. Passionate about opinionated data science and building inclusive teams. Conference speaker and R enthusiast. Call me Cat or Catherine.</p> 
                <p>Currently <a href="https://www.twitter.com/catherinezh">@Twitter</a>, formerly <a href="https://twitter.com/catherinezh/status/1301191581031161857">Codecademy</a>, <a href="https://twitter.com/work_bench/status/855436392566054913">JetBlue</a>, etc.</p>
                <p>Specialties: R, SQL, causal inference, time series, experiment design, product analytics, machine learning.</p>
                <p>Interests: transportation, cities, pedagogy, artificial intelligence, ethics -- and how those things intersect.</p>
            </div>
        </div>
    </section>
