    <!-- Footer -->
    <section id="footer" class="footer-section text-center">
        <div class="col-lg-8 col-lg-offset-2">
            <p id="last_updated"></p>
        </div>
        <script>
            function formatDate(date) {
                    var monthNames = [
                        "January", "February", "March",
                        "April", "May", "June", "July",
                        "August", "September", "October",
                        "November", "December"
                    ];

                    var day = date.getDate();
                    var monthIndex = date.getMonth();
                    var year = date.getFullYear();

                    return day + ' ' + monthNames[monthIndex] + ' ' + year;
                }
            var moreLink = document.querySelector('.js-more')
            if (moreLink) {
                document.querySelector('.js-more').addEventListener('click', function (e) {
                    e.preventDefault()
                    e.target.classList.add('dn')
                    e.target.classList.remove('dib')
                    document.querySelectorAll('.js-hidden').forEach(function (elt) {
                        elt.classList.remove('dn')
                    })
                })
            }
            // fetch last commit
            var xhr = new XMLHttpRequest();
            var url = "https://api.github.com/repos/{{site.repository}}/commits/master";
            xhr.open('GET', url, true);
            xhr.responseType = 'json';
            xhr.onload = function () {
                var status = xhr.status;
                if (status === 200) {
                    console.log(xhr.response);
                    document.getElementById("last_updated").innerHTML = "Last Updated: " + formatDate(new Date(xhr.response.commit.author.date)) + "<a href=\"" + xhr.response.html_url + "\"> " + xhr.response.sha.substring(0, 7) + "</a>";
                } else {
                    console.log("oops something went wrong");
                    document.getElementById("last_updated").innerHTML = "oops something went wrong";
                }
            };
            xhr.send();
        </script>
    </section>
